/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 375px;
  min-block-size: 100dvb;
  padding-inline: clamp(0rem, 34.742vw - 8.143rem, 23.125rem);
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  color: var(--accent-color);
  font-weight: var(--text-weight);
  font-variation-settings: 'wght' var(--text-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--accent-font);
  margin-block: var(--indent);
  padding-block: clamp(7.5rem, 4.923vw + 6.346rem, 8.5rem) calc(var(--indent) / 4);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: var(--title-weight);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  margin-block: calc(var(--indent) / 5) calc(var(--indent) / 4);
}

.theme-menu__button {
  border: 1px solid transparent;
  text-transform: inherit;
  /* line-height: 2; если не делать флексом список кнопок*/
  background: transparent;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  margin-left: calc(var(--indent) / 4);
}

.theme-menu__button {
  position: relative;
}

.theme-menu__button:active {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--accent-color);
  position: absolute;
  pointer-events: none;
  left: -16px;
}

.main__section-cards {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent) / 2);
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-size: 1.125rem;
  font-variation-settings: "wght" var(--title-weight);
  line-height: 1.375rem;
  padding-block: 0.25rem 0.375rem;
  padding-inline: calc(var(--indent) / 10);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  justify-content: space-around;
  padding-inline: calc(var(--indent) / 4);
  padding-block: calc(var(--indent) / 4);
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 1.688rem;
  line-height: 1.313rem;
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__like-button {

}

.button__text {

}