/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  margin: var(--indent) auto;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
  font-weight: var(--text-weight);
  font-variation-settings: "wght" var(--text-weight);
  font-size: var(--text-size);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--accent-font);
  margin-block-end: var(--indent);
  padding-block: clamp(7.5rem, 4.923vw + 6.346rem, 8.5rem)
    calc(var(--indent) / 4);
  border: var(--border);
  background-color: var(--bg-color);
}

.header__logo {
  font-size: var(--logo-size);
  font-weight: var(--logo-weight);
}

.header__title {
  font-size: var(--title-size);
  margin-block: calc(var(--indent) / 5) calc(var(--indent) / 4);
}

.theme-menu__list {
  display: grid;
  gap: 0.7rem; /*за вычетом черты*/
  margin-inline-start: calc(var(--indent) / 4);
  line-height: normal;
  font-size: var(--extra-size);
}

.button {
  position: relative;
  border: none;
  text-transform: inherit;
  background-color: var(--bg-color);
  font-size: var(--extra-size);
  font-family: var(--accent-font);
  line-height: 0.9;
  color: var(--accent-color);
}

.theme-menu__button {
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  color: var(--accent-color);
  position: absolute;
  pointer-events: none;
  inset-block-start: 0px;
  inset-inline-start: -21px;
  animation: triangle 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: "";
  display: block;
  transform: scaleX(0);
  transform-origin: 0 0;
  block-size: 2px;
  background-color: var(--accent-color);
  transition: transform 0.3s;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent) / 2);
}

.main__section-cards {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent) / 2);
}

.card {
  background-color: var(--bg-color);
  border: var(--border);
}

.card__title {
  font-size: inherit;
  line-height: normal;
  font-variation-settings: "wght" var(--title-weight);
  padding-block: 0.25rem 0.375rem;
  padding-inline: 0.625rem;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 1.688rem;
  line-height: 1.313rem;
  font-variation-settings: "wght" var(--text-weight);
}

.card__label {
  font-size: var(--extra-size);
  position: absolute;
  inset-block-start: calc(var(--indent) / 4);
  inset-inline-end: clamp(0.813rem, 3.692vw - 0.053rem, 1.563rem);
  font-family: var(--accent-font);
  text-shadow: 1px 0 var(--shadow-color), 0 1px var(--shadow-color),
    1px 0 var(--shadow-color), 0 1px var(--shadow-color);
  opacity: 0.5;
  text-transform: uppercase;
  background-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--indent) / 4);
  justify-content: space-around;
  padding-inline: calc(var(--indent) / 4);
  padding-block: calc(var(--indent) / 4);
}

.container__img {
  position: relative;
  border-top: var(--border);
  border-bottom: var(--border);
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.card__like-button {
  border: var(--border);
  inline-size: 130px;
  block-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button {
  align-self: center;
  transition: border-color 0.3s ease;
  border: 2px solid transparent;
}

.button__text {
  color: var(--color-invert);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.button-animation {
  transition: box-shadow 0.3s;
}

.button-animation:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
}

.button-animation::before {
  content: "";
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.5s ease-in-out;
}

.button-animation:hover::before {
  transform: scaleX(1);
}

.popup-button {
  display: flex;
  gap: 0.5rem;
  align-self: center;
  border: var(--border);
  padding-block: 15px;
  padding-inline: 20px;
  align-items: center;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--color-invert);
}

.popup {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  padding: 30px clamp(1.875rem, -3.077vw + 3.221rem, 2.5rem);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  inline-size: clamp(21.313rem, 4.923vw + 20.159rem, 22.313rem);
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: var(--extra-size);
  background-color: var(--bg-color);
  border: var(--border);
}

.popup:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup__floppy {
  inline-size: 39px;
  block-size: 39px;
  color: var(--accent-color);
  align-self: center;
}

.popup__text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  text-transform: uppercase;
  line-height: 1.5;
}

.popup__form {
  grid-column: span 2;
  justify-self: stretch;
}

.button-floppy {
  border: var(--border);
  padding-block: 10px;
  text-transform: uppercase;
  display: grid;
  justify-content: center;
  inline-size: 100%;
  color: var(--accent-color);
}

@media (width <= 375px) {
  .popup-button {
    flex-direction: column;
  }
  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}

.sparks {
  opacity: 0;
}

.brightness {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(30%);
}

.blur {
  filter: blur(0.2rem);
}

.opacity {
  filter: opacity(0.8);
}

.grayscale {
  filter: grayscale(100%);
}

.invert {
  filter: invert(0.7);
}

.multiple {
  filter: sepia(1) saturate(158%) hue-rotate(-90deg);
}
