/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root { /*по умолчанию light*/
  --main-font: 'Inter-Variable', Arial, sans-serif;
  --accent-font: 'PressStart2P', system-ui;
  --logo-weight: 400;
  --title-weight: 700;
  --text-weight: 400;
  --logo-size: clamp(3.063rem, 1.909rem + 4.9231vw, 4.063rem);
  --title-size:clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --text-size: 1.125rem;
  --extra-size: 0.875rem;
  --indent: 100px;
  --bg-image:
      repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7, #1a1a1a);
  --bg-color: #fff;
  --accent-color: #000;
  --shadow-color: rgba(255, 255, 255, 0.5);
  --color-invert: #fff;
  --contour-color: #000;
  --sparks-color: #FF0000;
  --core-color: #000;
  --border: 2px solid var(--accent-color);
}